.features {
  grid-column: center-start / center-end;

  margin: 1rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr)); // 15.6rem is derived from the big grid in index, then calculating for max 3 grids
  gap: 3.75rem;
  align-items: start;
  
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: .9375rem;
  column-gap: 1.56rem;
  

  &_icon {
    fill: $color-primary;
    height: 2.8rem;
    width: 2.8rem;
    
    grid-row: 1 / 3; // -1 would not work here since the rows are implicit
    transform: translateY(-7px); // to center icon 
  }

  &_text {
    font-size:  1.06rem;

  }
}