.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 5rem;
}

.nav {
list-style-type: none;

display: grid;
grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
gap: 1.25rem;
align-items: center;

  &_link:link,
  &_link:visited {
    font-size: .875rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: .93rem;
    display: block;

    transition: all .2s
  }

  &_link:hover,
  &_link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: .875rem;
  color: $color-grey-light-2;
  margin-top: 3.75rem;
  text-align: center;
}