.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 2rem;
  
  display: grid;
  align-content: center;
  justify-content: center; 
  row-gap:  1.25rem;
  justify-items: center;
 
  &_list {
    display: grid;
    grid-template-columns: min-content max-content;

    column-gap: 1.25rem;
    row-gap: 5vh;
    align-items: center;
  }

  &_img {
    width: 4.375rem;
    border-radius: 50%;

  }

  &_detail {

  }

  &_sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
  
