.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 2rem;

  @media only screen and (max-Width: $bp-medium) {
    grid-column: 1 / -1;
  }
  
  display: grid;
  align-content: center;
  justify-content: center; 
  row-gap:  1.25rem;
  justify-items: center;
 
  &_list {
    display: grid;
    grid-template-columns: min-content max-content;

    column-gap: 1.25rem;
    row-gap: 5vh;
    align-items: center;
    
    @media only screen and (max-Width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    
    }

    @media only screen and (max-Width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &_img {
    width: 4.375rem;
    border-radius: 50%;

  }


  &_sold {
    font-size: .75rem;
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
  
