.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; 

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: end;
  }
}

.nav_btn {
  border: none;
  border-radius: 0;
  margin-top: 2rem;
  background-color: #fff;
  height: 2px;
  width: 2.8125rem;

  position: relative;

  
  &::before,
  &::after {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 2.8125rem;
    content: ''
  }
  
  &::before {
    transform: translateY(-.92rem);
  }
  
  &::after {
    transform: translateY(.82rem);
  }
        @media only screen and (max-width: $bp-large) {
          margin-right: 1.3rem;
          &::before {
            transform: translateY(-.72rem);
          }
          
          &::after {
            transform: translateY(.62rem);
          }
        }
}
