html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

/////HEADING////////////

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading_1 {
  @extend %heading;
  font-size: 2.82rem;
  color: $color-grey-light-1;
  line-height: 1;
  
}

.heading_2 {
  @extend %heading;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1;

  &___light {
    color: $color-grey-light-1;
  }
  &___dark {
    color: $color-grey-dark-1;   
  }
}

.heading_3 {
  @extend %heading;
  text-transform: uppercase;
  color: $color-primary;
}
.heading_4 {
  @extend %heading;
  font-size: 1.1875rem;

  &___light {
    color: $color-grey-light-1;
  }
  &___dark {
    color: $color-grey-dark-1;   
  }
}


/////////BUTTONS///////////
.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: .93rem;
  text-transform: uppercase;
  padding: 1.125rem 1.875rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}