// .margin_top_big, .margin_bottom_small, border-radius, etc..

.u_center {
  text-align: center;
}

.u_mb_small {
  margin-bottom: 1.25rem
}
.u_mb_medium {
  margin-bottom: 1.875rem
}
.u_mb_large {
  margin-bottom: 2.5rem
}
.u_mb_huge {
  margin-bottom: 5rem
}